
body{
    background-color: lightgreen;
}

#card{
    margin: auto;
    margin-top: 60px;
    width: 350px;
    height: 550px;
    border-radius: 20px;
    background-color: white;
}

#card-number{
    text-align: center;
    font-size: 250px;
    margin: auto;
    width: 50%;
    border: 3px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.suit{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 100px;
}

.upsidedown {
    text-align: right;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg); 
  }